@model IEnumerable<GuiaPalestrasOnline.Models.Evento>

<h2>Todos Eventos</h2>
@foreach (var evento in Model)
{
    <strong>Nome-Do-Evento</strong>
    <h3>@evento.Local</h3>
    <a href="@Url.Action("PalestrasParaEsteEvento","Home",new{id=@evento.ID})">Palestras Desse Evento</a>
}
