@model GuiaPalestra.Models.Usuario

<h2 class="headers">Registro de Usuarios</h2>
<div class="card-panel grey lighten-5 z-depth-1">
    <form class="col s12" enctype="multipart/form-data" method="POST" action="">
        <div class="row">
            <div class="input-field col s12">
                <input type="text" name="Nome" id="Nome">
                <label>Nome</label>
            </div>
            <div class="input-field col s12">
                <input type="text" class="validate" id="Email" name="Email">
                <label>Email</label>
            </div>
            <div class="input-field col s12">
                <input type="password" class="validate" id="Senha" name="Senha">
                <label>Senha</label>
            </div>
            <div class="input-field col s12">
                <p>
                    <input name="@Model.Sexo" type="radio" id="m"/>
                    <label for="m">Masculino</label>
                </p>
                <p>
                    <input name="@Model.Sexo" type="radio" id="f"/>
                    <label for="f">Feminino</label>
                </p>
            </div>

        </div>
        <p class="right-align">
            <button type="submit" class="waves-effect waves-light btn green">Registrar</button>
        </p>
    </form>
</div>
