@model GuiaPalestra.ViewModel.UsuarioVM

<h2 class="headers">Alterar Dados</h2>
<div class="card-panel grey lighten-5 z-depth-1">
    <form class="col s12" enctype="multipart/form-data" method="POST" action="">
        @Html.HiddenFor(model=>model.ID)
        <div>
            <div class="col s2">
                <img src="~/Content/Uploads/Usuario/@Model.PhotoPath" class="circle" alt="" width="100" height="100" />

            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="mdi-action-perm-contact-cal prefix"></i>
                <input type="text" value="@Model.Nome" name="Nome" id="Nome">
                <label>Nome</label>
            </div>
            <div class="input-field col s12">
                <i class="mdi-communication-email prefix"></i>
                <input type="text" class="validate" value="@Model.Email" id="Email" name="Email">
                <label>Email</label>
            </div>
        </div>
        <input type="file" name="Photo" id="Photo"/>
        <p class="right-align">
            <button type="submit" class="waves-effect waves-light btn green">Alterar Dados</button>
        </p>
    </form>
</div>
