
@model GuiaPalestrasOnline.Models.Trilha



<h2 class="headers">Registrar Trilha</h2>
<form action="" method="post" class="col s12">
    <div class="card" style="padding: 10px">
        <div class=" row">
        <div class="input-field col s12">
            <input type="text" name="NomeTrilha" id="NomeTrilha" class="activator" />
            <label for="NomeTrilha">Nome da Trilha</label>
        </div>
    </div>
        <div class="row">
            <div class="input-field col s12">
                <div class="right-align">
                    <button class="btn waves-effect waves-light light-bg" type="submit">Registrar</button>
                </div>

            </div>
        </div>    
    </div>

</form>