
@model GuiaPalestra.Models.Evento
<div style="padding-top: 10px">
    <h2 class="headers">Registrar Evento</h2>
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row">
            <form class="col s12" action="" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="DiaInicial" type="text" class="validate" name="DiaInicial">
                        <label for="DiaInicial">Dia Inicial</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="DiaFinal" type="text" class="validate" name="DiaFinal">
                        <label for="DiaFinal">Dia Final</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="Tema" type="text" class="validate" name="Tema">
                        <label for="Tema">Tema</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="Local" type="text" class="validate" name="Local">
                        <label for="Local">Local</label>
                    </div>
                </div>
                <div class="right-align">
                    <button type="submit" class="waves-effect waves-light btn">Registrar</button>
                </div>                
            </form>
        </div>
    </div>
</div>
