<h2>Painel Coordenador</h2>
<a href="@Url.Action("CriarEvento","Coordenador")">Criar Evento</a><br />
<a href="@Url.Action("MeusEventos", "Coordenador")">Meus Eventos</a><br />
<a href="@Url.Action("CriarTrilha", "Coordenador")">Criar Trilha</a>
