@{
    var flash = TempData.Where(item => item.Key.StartsWith("alert-"))
        .Select(item => new { Message = item.Value, ClassName = item.Key }).FirstOrDefault();

    if (flash != null)
    {
        <script type="text/javascript">
            $(function () {
                var $flash = $('<div id="flash" class="alert  fade in" style="display:none;">');
                $flash.html('<i class="mdi-action-highlight-remove small"></i>' + '<p style="text-align:center">@flash.Message</p>');
                $flash.toggleClass('flash');
                $flash.toggleClass('@flash.ClassName');
                $('#msg').prepend($flash);
                $flash.slideDown('slow');
                $flash.click(function () { $(this).slideToggle('highlight'); });
          
            });
        </script>
    }
    <span id="msg"></span>
}