@using GuiaPalestra.Controllers
@using Microsoft.AspNet.Identity
@model GuiaPalestra.Models.Palestra

<h2 class="headers">Registro de Palestra</h2>
<div class="card-panel grey lighten-5 z-depth-1">
    <form class="col s12" method="POST" action="">
        <div class="row">
            <div class="input-field col s12">
                <input type="text" name="Titulo" id="Titulo">
                <label>Titulo</label>
            </div>
        </div>
        <label>Duracao</label>
        <select class="browser-default" id="Duracao" name="Duracao">
            <option value="30">30 minutos</option>
            <option value="60">60 minutos</option>
            <option value="90">90 minutos</option>
        </select>
        <p class="right-align">
            <button type="submit" class="waves-effect waves-light btn green">Registrar</button>
        </p>
    </form>
</div>


