
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="@Url.Action("CriarPalestras","PalestrantePainel")">Criar Palestra</a>
<a href="@Url.Action("MinhasPalestras","PalestrantePainel")">Minhas Palestras</a>
<a href="@Url.Action("PalestrasRequisitadas","PalestrantePainel")">Palestras Submetidas</a>
