@model IEnumerable<GuiaPalestra.Models.Palestra>
<div class="card" style="padding: 10px; height: 500px">
    @{
        if (!Model.Any())
        {
            <p>Você ainda nao cadastrou nenhuma palestra</p><a href="~/PalestrantePainel/CriarPalestras" class="waves-effect waves-light btn green" style="color:#eee7e7">Adicionar Palestra</a>
        }
        else
        {
            <table>
                <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Duracao</th>
                </tr>
                </thead>


                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Titulo</th>
                        <th>@item.Duracao - Minutos</th>
                        <th><a href="@Url.Action("DeletarPalestra", "PalestrantePainel", new {id = @item.ID})"><i class="mdi-action-highlight-remove small"></i></a></th>

                    </tr>
                }
            </table>
        }
    }
    <br/>
    <div class="right-align">
        <a href="~/PalestrantePainel/Index"><i class="mdi-navigation-arrow-back small circle grey"></i></a>
    </div>
</div>
