<p>Olá @User.Identity.Name</p>

<div class="row" >
    <div class="col m12">
        <div class="card small">
            <ul class="" style="padding: 10px;">
                <li><i class="mdi-notification-event-note"></i><a href="@Url.Action("EventosDisponiveis", "Usuario")"> Eventos</a></li>
                <li><i class="mdi-editor-border-color"></i><a href="@Url.Action("EventosUsuario", "Usuario")"> Minhas Inscrições</a></li>
                <li><i class="mdi-action-settings"></i><a href="~/Cadastro/UsuarioM/Detalhes"> Dados Cadastrais</a></li>
            </ul>

        </div>
    </div>
</div>
