<p>Olá @User.Identity.Name</p>

<div class="row">
    <div class="col m12">
        <div class="card small">
            <ul class="collection" style="padding: 10px;">
                <li class="collection-item avatar"><i class="mdi-notification-event-note  blue  small circle"></i><a href="@Url.Action("EventosDisponiveis", "Usuario")"> Eventos</a></li>
                <li class="collection-item"><i class="mdi-action-toc orange small circle"></i><a href="@Url.Action("EventosUsuario", "Usuario")"> Minhas Inscrições</a></li>
                <li class="collection-item"><i class="mdi-action-settings grey small circle"></i><a href="~/Cadastro/UsuarioM/Detalhes"> Dados Cadastrais</a></li>
            </ul>
            <div class="right-align">
                <a href="@Url.Action("Sair","Acesso")" class="waves-effect waves-light grey btn">Deslogar</a>
            </div>            
        </div>
    </div>
</div>

