
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="@Url.Action("MinhasPalestras", "Usuario")">Palestras que estou Escrito</a>
<a href="@Url.Action("EventosDisponiveis", "Usuario")">Eventos</a>

