
<div class="center-align">
    <h2 class="headers">
        Acesso de Usuario
    </h2>
</div>
<form action="" method="post">

    <div class="row">
        <div class="input-field col s12">
            <input id="EmailUsuario" name="EmailUsuario" class="validate" type="text">
            <label class="active" for="EmailUsuario">Email</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="SenhaUsuario" name="SenhaUsuario" class="validate" type="password">
            <label class="active" for="SenhaUsuario">Senha</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <button type="submit" class="waves-effect waves-light btn ">Logar</button>
        </div>
        <div class="right-align">
            <div class="input-field col s6">
                <a href="@Url.Action("Index","UsuarioM",new{Area="Cadastro"})" class="waves-effect waves-light btn orange ">Registrar</a>
            </div>
        </div>
    </div>

</form>

