

<h2>
    Login de Coordenador
</h2>
<form action="" method="post">

    <label>Email</label>
    <input type="text" value="" name="emailCoordenador" id="emailCoordenador" />
    <label>Senha</label>
    <input type="text" value="" name="senhaCoordenador" id="senhaCoordenador" />
    <input type="submit" value="Logar" />
    <br />
    <br />
    Ou
    <a href="@Url.Action("Index", "Acesso")">Logar como Usuario</a>
    <a href="@Url.Action("LoginPalestrante","Acesso")">Logar como Palestrante</a>

</form>
