

<h2>
    Login de Palestrante
</h2>
<form action="" method="post">

    <label>Email</label>
    <input type="text" value="" name="emailPalestrante" id="emailPalestrante" />
    <label>Senha</label>
    <input type="text" value="" name="senhaPalestrante" id="senhaPalestrante" />
    <input type="submit" value="Logar"/>
    <br />
    <br />
    Ou
    <a href="@Url.Action("Index","Acesso")">Logar como Usuario</a>

</form>
