

<div class="center-align">
    <h2 class="headers">
        Acesso de Coordenador
    </h2>
</div>

<form action="" method="post">

    <div class="row">
        <div class="input-field col s12">
            <input id="emailCoordenador" name="emailCoordenador" class="validate" type="text">
            <label class="active" for="emailCoordenador">Email</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="senhaCoordenador" name="senhaCoordenador" class="validate" type="password">
            <label class="active" for="senhaCoordenador">Senha</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <button type="submit" class="waves-effect waves-light btn ">Logar</button>
        </div>
        <div class="right-align">
            <div class="input-field col s6">
                <a href="@Url.Action("Cadastrar","CoordenadorM",new{Area="Cadastro"})" class="waves-effect waves-light btn orange ">Registrar</a>
            </div>
        </div>
    </div>
</form>

