@model IEnumerable<GuiaPalestra.Models.Palestra>
@{
    if (!Model.Any())
    {
        <p>Você ainda nao cadastrou nenhuma palestra</p>
        <a href="~/PalestrantePainel/CriarPalestras" class="waves-effect waves-light btn green" style="color: #eee7e7">Adicionar Palestra</a>
    }
    else
    {

        <div class="card" style="padding: 10px">
            <table>
                <thead>
                <tr>
                    <th>
                        Titulo
                    </th>
                    <th>
                        Duração
                    </th>
                    <th>Submeter Palestra</th>
                </tr>
                </thead>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titulo)
                        </td>
                        <td>
                            @item.Duracao - Minutos
                        </td>
                        <td class="center-align">
                            <a href="@Url.Action("DisponibilizarPalestra", "Evento", new {id = @item.ID})"><i class="mdi-content-add small circle" style="background: green"></i></a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    }
}