@model IEnumerable<GuiaPalestrasOnline.Models.Trilha>
<h2 class="headers">Trilhas De Evento</h2>

<div class="collection">

    @foreach (var trilhas in Model)
    {

        <a href="@Url.Action("SubmeterPalestras", "Evento", new {id = @trilhas.ID})" class="collection-item">@trilhas.NomeTrilha</a>

    }

</div>
<div style="clear: both">
    
</div>